@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&family=Source+Code+Pro:ital@1&display=swap');


/*For index.html*/ 

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(245, 235, 235);
    height: 176vh;
    font-family: 'PT Sans', sans-serif;
    width: 250px;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebargo{
    transform: translate(-250px,0px);
    position: absolute;
}

.sidebar nav{
    padding: 18px;
}
.sidebar nav li{
    list-style: none;
    font-size: 23px;
    padding: 25px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color:black;
}
.main{
    /* background-color: yellow; */
    width: 87vw;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: rgb(77, 26, 197); */
    height: 60vh;
    width: 80vw;
    margin: 40px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 10px;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 3em;

}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}
.about{
    font-size: 2.5em;
}
.moreabout{
    font-size: 2.2em;
    margin-top: 24px;
}
.buttons{
    margin: 20px;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: cornflowerblue;
    font-size: 17px;
    margin: 16px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color:blueviolet;
}
.devPic img{
    height: 60vh;
}







/* For contact.html*/

.contactform {
    font-family: 'Source Code Pro', monospace;
    padding: 0 40px;
    padding-top: 10px;
}
.contactform form{
    margin: 0 40px;
}

.contactform h1{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}
.contactform form div{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 30vw;
    border-radius: 5px;
    font-size: 18px;
    margin: 6px 0 0 0;
    padding: 3px;
}
.contactform button{
    margin-inline: 100px;
    padding: 10px;
    padding-inline: 40px;
}
#emailHelp{
    font-size: 10px;
    color: rgb(17, 22, 26);
}

#form-check{
    flex-direction: row;
}
#form-check input{
    width: 25px;
    margin: 5px 0 5px 0;
}











/*For blog.html*/
.blogcontainer{
    margin-top: 30px;
    margin-left: 30px;
}
.blogItem{
    margin: 20px;
    font-family: 'Source Code Pro', monospace;
}
.h1{
    font-family: 'Source Code Pro', monospace;
    margin: 0 23px;
}
.p{
    font-family: 'Times New Roman', Times, serif;
}








/*For Intro.html*/
.intro{
    margin-top: 30px;
    margin-left: 30px;
}
.intro h2{
    font-family:'Fira Sans';
    margin: 25px; 
}
.intro p{
    font-family: 'Source Code Pro', monospace;
}

.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.skill{
    width: 177px;
    height: 10px;
    background-color: red;
    border: 2px solid black;
}

/* To show the bar in percentage form*/
.hundred{
    width: 265px;
    background-color: blueviolet;
}
.seventy5{
    width: 125;
    background-color: aqua;
}
.twenty5{
    width: 75px;
    background-color: yellow;
}
 
@media screen and (max-width: 1215px) {
    .devPic {
      display: none;
    }
    .intro, .blogcontainer, .contactform, .infoContainer{
        margin: 50px 8px;
    }
  }
 
 /*For menu button*/
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
    margin-left: 210px;
}




/*For Project*/
.projects {
    padding: 65px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    display: flex;
    width: 92vw;
    align-items: center;
    justify-content: center;
}
.pbanner{
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
}
.pgrid {
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgb(0 0 0 / 10%);
    cursor: pointer;
    display: grid;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
.pr{
    width: 100px;
}
.pgrid:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.content{
    font-size: 15px;
    padding: 5px 5px ;
    margin: 0px 2px;
}
.content h1{
    font-size: 20px;
}